@import "tailwindcss";

@theme {
  --color-background: #f1f3f4;
  --color-foreground: #212121;
  --color-primary: #404e4f;

  --font-dm-sans: var(--font-dm-sans);
  --font-onest: var(--font-onest);
}

@layer base {
  body {
    @apply bg-background text-foreground font-sans antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-dm-sans;
  }
  p,
  label,
  input,
  button,
  a,
  span,
  div {
    @apply font-onest;
  }

  button {
    @apply cursor-pointer;
  }
}
