[package]
name = "rust"
version = "0.1.0"
edition = "2024"

[dependencies]
aes-gcm = "0.10.3"
getrandom = { version = "0.2", features = ["js"] }
wasm-bindgen = "0.2"

[lib]
crate-type = ["cdylib", "rlib"]
